<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VulnCrop</title>
    <link rel="stylesheet" href="Attacks.css">
</head>

<body>
    <div class="word"></div>
    <ul>
        <div class="left-column">
        <li>
            <input id="c1" type="checkbox">
            <label for="c1">Broken Access Control</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>
        </li>
        <li>
            <input id="c2" type="checkbox">
            <label for="c2">Cross-Site Scripting (XSS)</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>

        <li>
            <input id="c1d" type="checkbox" disabled checked>
            <label for="c1d">SQL Injection</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>
        <li>
            <input id="c1d" type="checkbox" disabled checked>
            <label for="c1d">XML External Entity (XXE)</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>
        </div>
        <div class="right-column">
        <li>
            <input id="c1d" type="checkbox" disabled checked>
            <label for="c1d">File Upload</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>
        <li>
            <input id="c1d" type="checkbox" disabled checked>
            <label for="c1d">Insecure design</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>
        <li>
            <input id="c1d" type="checkbox" disabled checked>
            <label for="c1d">Server-Side Request Forgery(SSRF)</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>
        <li>
            <input id="c1d" type="checkbox" disabled checked>
            <label for="c1d">Cross-Site Request Forgery(CSRF)</label>
            <h5>a type of vulnerability that allows unauthorized users to gain access to sensitive data or systems.</h5>

        </li>
        </div>
    </ul>
    <p class="mobile-message">This website is only compatible with desktop devices. Please access it using a computer.
    </p>
    <button class="bye-bye">I Will Buy a PC</button>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="Attacks.js"></script>

</html>