<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VulnCrop</title>
  <link rel="stylesheet" href="Homepage.css">
</head>

<body>
  <div class="word">VulnCrop</div>
  <form method="POST" action="/results" class="form-group">
    <span>http://</span>
    <input class="form-field" name="target_url" placeholder="Domain.com" required>
    <input type="submit" value="Scan" class="scan">
  </form>
  <div class="cert">
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
    <span class="SSL">Website has <span style="color: #15F5BA;">SSL</span> Certificate.</span>
  </div>
  <div class="cert2">
    <label class="switch">
      <input type="checkbox" id="auth">
      <span class="slider"></span>
    </label>
    <span class="SSL">I'm <span style="color: #15F5BA;">Authorized</span> to Test.</span>
  </div>
  <p class="authority-alert"><span style="color: #15F5BA;">*</span>Please make sure to check the authority checkbox.</p>
  <p class="mobile-message">This website is only compatible with computer. Please access it using a computer.</p>
  <button class="bye-bye">I Will Buy a PC</button>
  
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="Homepage.js"></script>

</html>